@model SigninViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn" method="post">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RememberMe" class="checkbox" required="">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Donot have an Account? <a asp-action="Singup">Sign Up</a></p>
	</div>
</div>
@section ValidationScripts
{
	<partial name="_ValidationScriptsPartial" />
}

