@model CreatedDepartmentDTO
@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
}

<h1>Create New Department</h1>
<partial name="Partials/CreateEditDepartmentPartial" />
@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial"/>
}
